table{
  border-collapse: collapse;
  width: 100%;
}
th,td{
border: 2px solid rgb(10, 10, 10);
padding: 15px;
}
th{
  background-color: rgb(255, 166, 0);
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.choosen-radio-button {
  margin: 5px;
}

h4{
  color:lawngreen;
}
/* table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
} */
