<h2>{{ title }}</h2>
<h4>{{ message }}</h4>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search any string" #input>
</mat-form-field>

<div  class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- orderId Column -->
      <ng-container matColumnDef="orderId" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
          <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
      </ng-container>

      <!-- products Column -->
      <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Products </th>
          <td mat-cell *matCellDef="let element"> {{element.products}} </td>
      </ng-container>

      <!-- shifts Column -->
      <ng-container matColumnDef="shifts">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Shifts </th>
          <td mat-cell *matCellDef="let element"> {{element.shifts}} </td>
      </ng-container>

      <!-- demandQuantity Column -->
      <ng-container matColumnDef="demandQuantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Demand Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.demandQuantity}} </td>
      </ng-container>

      <!-- supplyQuantity Column -->
      <ng-container matColumnDef="supplyQuantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Supply Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.supplyQuantity}} </td>
      </ng-container>

      <!-- actualDOD Column -->
      <ng-container matColumnDef="actualDOD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Delivery Date </th>
          <td mat-cell *matCellDef="let element"> {{element.actualDOD}} </td>
      </ng-container>

      <!-- customerId Column -->
      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Id</th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="Actions">
      <th mat-header-cell  *matHeaderCellDef > Actions </th>
      <td mat-cell *matCellDef="let row" >
        <button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary" (click)="edit(row)">

          <mat-icon>edit</mat-icon>
        </button>
      <button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn" (click)="delete(row['orderId'])">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>


  <mat-dialog-actions>
    <button mat-icon-button matTooltip="Click to Add" class="iconbutton" class="mat-raised-button mat-primary" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-dialog-actions>

