
<h2>{{ title }}</h2>
<h4>{{ message }}</h4>
<div  class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>
<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- select Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell  *matHeaderCellDef > Select </th>
      <td mat-cell *matCellDef="let element" >
        <input type="radio"  [(ngModel)]="choosen" value={{element.customerId}}>
      </td>
    </ng-container>

    <!-- customerId Column -->
    <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Customer ID </th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>

    <!-- firstName Column -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <!-- lastName Column -->
    <ng-container matColumnDef="lastName" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <!-- mobileNo Column -->
    <ng-container matColumnDef="mobileNo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile No </th>
        <td mat-cell *matCellDef="let element"> {{element.mobileNo}} </td>
    </ng-container>

    <!-- whatsappNo Column -->
    <ng-container matColumnDef="whatsappNo" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Whatsapp No </th>
        <td mat-cell *matCellDef="let element"> {{element.whatsappNo}} </td>
    </ng-container>

    <!-- address Column -->
    <ng-container matColumnDef="address" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <!-- actions Column -->
    <ng-container matColumnDef="Actions">
    <th mat-header-cell  *matHeaderCellDef > Actions </th>
    <td mat-cell *matCellDef="let row" >
          <!-- <button mat-button class="mat-raised-button mat-primary" (click)="isViewEditClicked()">View</button>&nbsp;&nbsp; -->
          <button mat-button class="mat-raised-button mat-primary" (click)="isViewEditClicked()">Edit</button>&nbsp;&nbsp;
          <button mat-button class="mat-raised-button mat-primary" (click)="isDeleteClicked()">Delete</button>&nbsp;&nbsp;
    </td>
  </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


<mat-dialog-actions>
<button class="mat-raised-button mat-primary" (click)="isAddClicked()">ADD</button>
</mat-dialog-actions>


<div *ngIf="toggleAdd || toggleViewEdit">

    <mat-card>
        <mat-card-title>Customer Details</mat-card-title>
        <mat-card-content>

            <mat-dialog-content [formGroup]="customerForm">

                <div class="form-group">
                    <mat-form-field>
                        <mat-label for="firstName">First Name:</mat-label>
                            <input matInput formControlName="firstName" id="firstName" type="text" placeholder="First Name"
                                value="{{customerForm.firstName}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="lastName">Last Name:</mat-label>
                            <input matInput formControlName="lastName" id="lastName" type="text" placeholder="Last Name"
                                value="{{customerForm.lastName}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="mobileNo">Mobile No:</mat-label>
                            <input matInput formControlName="mobileNo" id="mobileNo" type="text" placeholder="Mobile No"
                                value="{{customerForm.mobileNo}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="whatsappNo">Whatsapp No:</mat-label>
                            <input matInput formControlName="whatsappNo" id="whatsappNo" type="text" placeholder="Whatsapp No"
                                value="{{customerForm.whatsappNo}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="address">Address:</mat-label>
                            <input matInput formControlName="address" id="address" type="text" placeholder="Address"
                                value="{{customerForm.address}}">
                    </mat-form-field>

                </div>

                <div>
                    {{customerForm.value | json}}
                </div>


            </mat-dialog-content>
        </mat-card-content>
        <mat-dialog-actions>

            <button class="mat-raised-button" (click)="onCancel()">
                Close
            </button>

            <button class="mat-raised-button mat-primary" (click)="saveOrUpdate(customerForm)">
                Save
            </button>

        </mat-dialog-actions>
    </mat-card>
</div>






