
<h2>{{ title }}</h2>
<h4>{{ message }}</h4>

<table>
    <th colspan=7>Customers information</th>
    <tr>
        <th>Select</th>
        <th>Customer Id</th>
        <th>Name</th>
        <th>Mobile No</th>
        <th>Whatsapp No</th>
        <th>Address</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let customer of customersList ">
        <td>            
            <input type="radio"  [(ngModel)]="choosen" value={{customer.customerId}}>
        </td>
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.firstName +" "+ customer.lastName  }}</td>
        <td>{{ customer.mobileNo }}</td>
        <td>{{ customer.whatsappNo }}</td>
        <td>{{ customer.address }}</td>
        <td>
        <mat-dialog-actions>
            <button class="mat-raised-button mat-primary" (click)="isViewEditClicked()">VIEW</button>
    &nbsp;&nbsp;
            <button class="mat-raised-button mat-primary" (click)="isViewEditClicked()">EDIT</button>
    &nbsp;&nbsp;        
            <button class="mat-raised-button mat-primary" (click)="isDeleteClicked()">DELETE</button>
        
        </mat-dialog-actions>
    </td>
    </tr>
</table>
<mat-dialog-actions>
<button class="mat-raised-button mat-primary" (click)="isAddClicked()">ADD</button>
</mat-dialog-actions>


<div *ngIf="toggleAdd || toggleViewEdit">

    <mat-card>
        <mat-card-title>Customer Details</mat-card-title>
        <mat-card-content>

            <mat-dialog-content [formGroup]="customerForm">

                <div class="form-group">
                    <mat-form-field>
                        <mat-label for="firstName">First Name:</mat-label>
                            <input matInput formControlName="firstName" id="firstName" type="text" placeholder="First Name"
                                value="{{customerForm.firstName}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="lastName">Last Name:</mat-label>
                            <input matInput formControlName="lastName" id="lastName" type="text" placeholder="Last Name"
                                value="{{customerForm.lastName}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="mobileNo">Mobile No:</mat-label>
                            <input matInput formControlName="mobileNo" id="mobileNo" type="text" placeholder="Mobile No"
                                value="{{customerForm.mobileNo}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="whatsappNo">Whatsapp No:</mat-label>
                            <input matInput formControlName="whatsappNo" id="whatsappNo" type="text" placeholder="Whatsapp No"
                                value="{{customerForm.whatsappNo}}">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="address">Address:</mat-label>
                            <input matInput formControlName="address" id="address" type="text" placeholder="Address"
                                value="{{customerForm.address}}">
                    </mat-form-field>

                </div>

                <div>
                    {{customerForm.value | json}}
                </div>


            </mat-dialog-content>
        </mat-card-content>
        <mat-dialog-actions>

            <button class="mat-raised-button" (click)="onCancel()">
                Close
            </button>

            <button class="mat-raised-button mat-primary" (click)="saveOrUpdate(customerForm)">
                Save
            </button>

        </mat-dialog-actions>
    </mat-card>
</div>
    

        
   


